{% extends 'mine_APP/layouts/main_page.html' %}

{% block content_main %}
    <div class="container">
        <h1>Album: {{ album.name }}</h1>
        <div class="item-container">
            {% for music in musics %}
                <div class="card">
                    <img src="{{ music.image.url }}" alt="">
                    <div class="name">{{ music.name }}</div>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name="music_album" value="{{ music.id }}">Delete Music</button>
                    </form>
                <audio controls>
                <source src="{{ music.audio_file.url }}">
                </audio>
                </div>
            {% empty %}
                <p>There is no music in that Album!</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}